Sbc11WcfClient/Common/Service References/OsterFabrikService/OsterFabrik2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8800/OsterFabrik?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" />
  <xs:element name="AddUnbemaltesEi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="ei" nillable="true" type="q1:Ei" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnbemaltesEiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBemaltesEi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="ei" nillable="true" type="q2:Ei" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBemaltesEiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchokoHase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="schokoHase" nillable="true" type="q3:SchokoHase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchokoHaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="nest" nillable="true" type="q4:Nest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForUnbemaltesEi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForUnbemaltesEiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForBemaltesEi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForBemaltesEiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForSchokoHase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForSchokoHaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForNest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookForNestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNestVerschickt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="nest" nillable="true" type="q5:Nest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNestVerschicktResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForUnbemalteEierNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForUnbemalteEierNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForBemalteEierNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForBemalteEierNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForSchokoHasenNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForSchokoHasenNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForNesterNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForNesterNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForLogistikNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForLogistikNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromUnbemalteEierNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromUnbemalteEierNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromBemalteEierNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromBemalteEierNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromSchokoHasenNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromSchokoHasenNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromNesterNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromNesterNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromLogistikNotifications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterFromLogistikNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUnbemaltesEiChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUnbemaltesEiChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyBemaltesEiChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyBemaltesEiChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySchokoHaseChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySchokoHaseChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNestChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentcount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNestChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLogistikChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentlyDelivered" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLogistikChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUnbemaltesEi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="ei" nillable="true" type="q6:Ei" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUnbemaltesEiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBemaltesEi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="ei" nillable="true" type="q7:Ei" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBemaltesEiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSchokoHase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="hase" nillable="true" type="q8:SchokoHase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSchokoHaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnNest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" minOccurs="0" name="nest" nillable="true" type="q9:Nest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnNestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>