Sbc11WcfClient/Common/Service References/OsterFabrikService/OsterFabrik.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sbc11WorkflowService.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ei">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Produkt">
        <xs:sequence>
          <xs:element minOccurs="0" name="Farbe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Maler" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ei" nillable="true" type="tns:Ei" />
  <xs:complexType name="Produkt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produzent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produkt" nillable="true" type="tns:Produkt" />
  <xs:complexType name="SchokoHase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Produkt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchokoHase" nillable="true" type="tns:SchokoHase" />
  <xs:complexType name="Nest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Produkt">
        <xs:sequence>
          <xs:element minOccurs="0" name="Eier" nillable="true" type="tns:ArrayOfEi" />
          <xs:element minOccurs="0" name="SchokoHase" nillable="true" type="tns:SchokoHase" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Nest" nillable="true" type="tns:Nest" />
  <xs:complexType name="ArrayOfEi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ei" nillable="true" type="tns:Ei" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEi" nillable="true" type="tns:ArrayOfEi" />
</xs:schema>